#cs1300-gallery {
  background-color: lightblue;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
/*img {*/
/*  width: 500px;*/
/*}*/

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery-item {
  height: 200px;
  width: 200px;
  padding: 10px;
  object-fit: cover;
}

.gallery-item:hover {
  opacity: 0.7;
}

#title {
  text-align: center;
  padding-top: 25px;
  font-family: Verdana, sans-serif;
}

.fruit-item {
  padding: 10px;
  font-family: Verdana, sans-serif;
}